# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/*
.vscode/
*.npmrc

# Servlerless stuff
.serverless

# Angular stuff
frontend/.angular/*

# CDK Stuff
cdk.out

# CMake
cmake-build-debug/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/
target/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


# node_modules in all projects
**/node_modules/

# distribution in all projects
**/dist/

# target folder in all projects
**/target/

# Reports from webpack etc...
**/report.html

*.iml
.project
.classpath
.settings/

# code coverage
**/coverage/**

debug.log
.serverless/
_optimize/
.ni-optimized

# running local
server/.env

# VS Code
.vscode/

#e2e
**/.hyperexecute/
**/allure-results/
**/playwright-report/
**/.updatedhyperexecute.yaml
**/hyperexecute
**/hyperexecuteupdate
**/hyperexecute.exe
**/hyperexecute-cli.log
**/test-results/